<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Consumo</h4>
            <p class="card-category">Registros de Consumo</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="standard">
                  <mat-label>Buscar...</mat-label>
                  <input
                    matInput
                    type="text"
                    id="search"
                    name="search"
                    (keyup)="applyFilter($event)"
                    #input
                  />
                </mat-form-field>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-4 pull-right">
                <div>
                  <button
                    mat-raised-button
                    (click)="navigateToCreate()"
                    type="button"
                    class="btn btn-success pull-right"
                  >
                    Novo Consumo
                  </button>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="table-responsive">
              <mat-table
                mat-table
                matSort
                [dataSource]="dataSource"
                class="table-responsive"
              >
                <ng-container matColumnDef="number">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="text-primary col-md-1"
                  >
                    Número
                  </th>
                  <td mat-cell *matCellDef="let registerOut">
                    {{ registerOut.number }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="formattedApplyDate">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="text-primary col-md-2"
                  >
                    Data
                  </th>
                  <td mat-cell *matCellDef="let registerOut">
                    {{ registerOut.formattedApplyDate }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="apply">
                  <th
                    mat-header-cell
                    class="text-primary col-md-1"
                    *matHeaderCellDef
                  >
                    Aplicado
                  </th>
                  <td mat-cell *matCellDef="let registerOut">
                    <input
                      disabled
                      type="checkbox"
                      [checked]="registerOut.apply"
                    />
                  </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="text-primary col-md-6"
                  >
                    Descrição
                  </th>
                  <td mat-cell *matCellDef="let registerOut">
                    {{ registerOut.description }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-right text-primary col-md-2"
                  >
                    Ações
                  </th>
                  <td mat-cell *matCellDef="let registerOut" class="text-right">
                    <div *ngIf="registerOut.apply == false">
                      <button
                        mat-raised-button
                        class="btn btn-sm btn-trash btn-info"
                        tooltip="Editar"
                        (click)="navigateToUpdate(registerOut)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      &nbsp;
                      <button
                        mat-raised-button
                        class="btn btn-sm btn-trash btn-danger"
                        tooltip="Excluir"
                        (click)="softDelete(registerOut.id)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </mat-table>
              <mat-paginator
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
