<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Registros</h4>
            <p class="card-category">Registros de movimentação</p>
          </div>
          <div>
            <div class="col-md-4 pull-right">
              <div>
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-danger pull-right"
                >
                  Nova Saida
                </button>
              </div>
              <div>
                <button
                  mat-raised-button
                  (click)="registryIn()"
                  type="button"
                  class="btn btn-success pull-right"
                >
                  Nova Entrada
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Numero</th>
                  <th>Fornecedor</th>
                  <th>Aplicado</th>
                  <th>Doação</th>
                  <th>Descrição</th>
                  <th class="text-right">Ações</th>
                </thead>
                {{
                  this.inModels | json
                }}
                <tbody>
                  <tr *ngFor="let registry of models">
                    <td>{{ registry.number }}</td>
                    <td>{{ registry.name }}</td>
                    <td>
                      <input class="form-control" disabled type="checkbox" [checked]="registry.apply" />
                    </td>
                    <td>
                      <input class="form-control" disabled type="checkbox" [checked]="registry.donation" />
                    </td>
                    <td>{{ registry.description }}</td>
                    <td class="text-right">
                      <button
                        mat-raised-button
                        class="btn btn-sm btn-trash btn-info"
                        tooltip="Editar"
                        (click)="update(stock.id)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      &nbsp;
                      <button
                        mat-raised-button
                        class="btn btn-sm btn-trash btn-danger"
                        tooltip="Excluir"
                        (click)="softDelete(stock.id)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
