<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Estoque</h4>
        <p class="card-category">Dados da Aquisição</p>
      </div>
      <div class="card-body">
        <form [formGroup]="createForm">
          <div class="row">
            <div class="col-md-10">
              <app-autocomplete
                placeholder="Fornecedores"
                shownValue="name"
                [itemList]="suppliers"
                [selectedValue]="this.createForm.controls['supplier'].value"
                (itemChanged)="selectSupplier($event)"
              ></app-autocomplete>
            </div>
            <div class="col-md-1">
              <label>
                Doação
                <input
                  formControlName="donation"
                  type="checkbox"
                  class="form-control"
                  id="donation"
                  name="donation"
                />
              </label>
            </div>
            <div class="col-md-1">
              <label>
                Aplicar
                <input
                  formControlName="apply"
                  type="checkbox"
                  class="form-control"
                  id="apply"
                  name="apply"
                />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field class="standard">
                  <textarea
                    matInput
                    formControlName="description"
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Descrição"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-12">
            <app-autocomplete
              placeholder="Selecione os suprimentos"
              shownValue="name"
              [itemList]="supplies"
              [selectedValue]="supply"
              (itemChanged)="selectSupply($event)"
            ></app-autocomplete>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th class="text-right">Ações</th>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let selectedSupply of this.selectedSupplies;
                  let i = index
                "
              >
                <td>
                  {{ selectedSupply.name }}
                </td>
                <td>
                  <mat-form-field class="standard">
                    <input
                      matInput
                      type="number"
                      name="quantity{{ i }}"
                      [(ngModel)]="selectedSupply.quantity"
                      step="0.01"
                      min="0"
                      max="99999999.99"
                      maxlength="{{ propertyLenght.DECIMAL_8_2 }}"
                    />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="standard">
                    <input
                      matInput
                      type="number"
                      name="price{{ i }}"
                      [(ngModel)]="selectedSupply.price"
                      step="0.01"
                      min="0"
                      max="99999999.99"
                      maxlength="{{ propertyLenght.DECIMAL_8_2 }}"
                    />
                  </mat-form-field>
                </td>
                <td class="text-right">
                  <button
                    class="btn btn-sm btn-trash btn-round btn-icon bt-view"
                    tooltip="Excluir"
                    (click)="deleteSupply(selectedSupply.stockId)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-divider></mat-divider>
        <button
          mat-raised-button
          type="button"
          (click)="cancel()"
          class="btn btn-danger pull-right"
        >
          Cancelar
        </button>
        <button
          mat-raised-button
          type="button"
          (click)="create()"
          class="btn btn-success pull-right"
        >
          Salvar
        </button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
