<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-header card-header-color">
            <h4 class="card-title">Usuário</h4>
            <p class="card-category">Trocar senha</p>
          </div>
          <div class="card-body">
            <form [formGroup]="changePasswordForm">
              <!-- New Password input -->
              <div data-mdb-input-init class="form-outline mb-3">
                <input
                  formControlName="newPassword"
                  type="newPassword"
                  id="newPassword"
                  name="newPassword"
                  class="form-control form-control-lg"
                  placeholder="Entre com sua nova senha"
                  required
                />
                <label class="form-label" for="changePasswordForm"
                  >Nova Senha</label
                >
              </div>
              <!-- Repeat New Password input -->
              <div data-mdb-input-init class="form-outline mb-3">
                <input
                  formControlName="repeatNewPassword"
                  type="repeatNewPassword"
                  id="repeatNewPassword"
                  name="repeatNewPassword"
                  class="form-control form-control-lg"
                  placeholder="Repita sua nova senha"
                  required
                />
                <label class="form-label" for="changePasswordForm"
                  >Repita Nova Senha</label
                >
              </div>
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div>
                  <button
                    type="button"
                    (click)="changePassword()"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-primary bg-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem"
                  >
                    Alterar
                  </button>
                  <button
                    type="button"
                    (click)="navigateToDashboard()"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-primary bg-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem"
                  >
                    cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"
  >
    <div class="text-white mb-3 mb-md-4"></div>
  </div>
</section>
