<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Consumo</h4>
        <p class="card-category">Criar novo consumo</p>
      </div>
      <div class="card-body">
        <form [formGroup]="createForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field class="standard">
                  <textarea
                    matInput
                    formControlName="description"
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Descrição"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <app-autocomplete
                placeholder="Selecione os suprimentos"
                shownValue="name"
                [itemList]="supplies"
                [selectedValue]="supply"
                (itemChanged)="selectSupply($event)"
              ></app-autocomplete>
            </div>
            <div class="col-md-1">
              <label>
                Aplicar
                <input
                  formControlName="apply"
                  type="checkbox"
                  class="form-control"
                  id="apply"
                  name="apply"
                />
              </label>
            </div>
            <div class="col-md-3">
              <mat-form-field class="standard">
                <mat-label>Data Consumo</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="applyDate"
                  [disabled]="!createForm.controls.apply.value"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker
                  [startAt]="createForm.controls.applyDate.value"
                ></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table">
            <thead class="input-table-header-cell">
              <th>Nome</th>
              <th>Quantidade</th>
              <th class="text-right">Ações</th>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let selectedSupply of this.selectedSupplies;
                  let i = index
                "
              >
                <td>
                  {{ selectedSupply.name }}
                </td>
                <td>
                  <mat-form-field class="standard">
                    <input
                      matInput
                      type="number"
                      name="quantity{{ i }}"
                      [(ngModel)]="selectedSupply.quantity"
                      step="1"
                      min="0"
                      max="99999999.99"
                      maxlength="{{ propertyLenght.DECIMAL_8_2 }}"
                    />
                  </mat-form-field>
                </td>
                <td class="text-right">
                  <button
                    class="btn btn-sm btn-trash btn-danger"
                    tooltip="Excluir"
                    (click)="deleteSupply(selectedSupply.stockId)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <mat-error
            *ngIf="this.selectedSupplies.length == 0"
            class="table-empty-text"
          >
            Adicione pelo menos um suprimento
          </mat-error>
        </div>

        <mat-divider></mat-divider>
        <button
          mat-raised-button
          type="button"
          (click)="cancel()"
          class="btn btn-danger pull-right"
        >
          Cancelar
        </button>
        <button
          mat-raised-button
          type="button"
          (click)="create()"
          class="btn btn-success pull-right"
        >
          Salvar
        </button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
