<div class="searchable-select">
  <input
    type="text"
    [placeholder]="placeholder"
    [formControl]="searchControl"
    class="search-input"
    [value]="getSelectedValue()"
    (click)="onInputClick()"
  />

  <div class="options-list" *ngIf="dropdownVisible && filteredOptions.length">
    <div class="option-item" (click)="onSelect('all')" *ngIf="enableSelectAll">
      Todas as opções
    </div>
    <div
      *ngFor="let option of filteredOptions"
      (click)="onSelect(option)"
      class="option-item"
    >
      {{ option[displayKey] }}
    </div>
  </div>
</div>
