<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Aquisição</h4>
            <p class="card-category">Registros de Aquisições</p>
          </div>
          <div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="standard">
                    <mat-label>Buscar...</mat-label>
                    <input
                      matInput
                      type="text"
                      id="search"
                      name="search"
                      (keyup)="applyFilter($event)"
                      #input
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 pull-right">
                  <div>
                    <button
                      mat-raised-button
                      (click)="navigateToCreate()"
                      type="button"
                      class="btn btn-success pull-right"
                    >
                      Nova Aquisição
                    </button>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="table-responsive">
                <mat-table
                  mat-table
                  matSort
                  [dataSource]="dataSource"
                  class="table-responsive"
                >
                  <ng-container matColumnDef="number">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      mat-sort-header
                      class="col-md-1"
                    >
                      Número
                    </th>
                    <td mat-cell *matCellDef="let registerIn">
                      {{ registerIn.number }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="formattedApplyDate">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      mat-sort-header
                      class="col-md-2"
                    >
                      Data
                    </th>
                    <td mat-cell *matCellDef="let registerIn">
                      {{ registerIn.formattedApplyDate }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="apply">
                    <th mat-header-cell class="col-md-1" *matHeaderCellDef>
                      Aplicado
                    </th>
                    <td mat-cell *matCellDef="let registerIn">
                      <input
                        disabled
                        type="checkbox"
                        [checked]="registerIn.apply"
                      />
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="donation">
                    <th mat-header-cell class="col-md-1" *matHeaderCellDef>
                      Doação
                    </th>
                    <td mat-cell *matCellDef="let registerIn">
                      <input
                        disabled
                        type="checkbox"
                        [checked]="registerIn.donation"
                      />
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      mat-sort-header
                      class="col-md-3"
                    >
                      Fornecedor
                    </th>
                    <td mat-cell *matCellDef="let registerIn">
                      {{ registerIn.supplier.name }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="text-right col-md-2"
                    >
                      Ações
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let registerIn"
                      class="text-right"
                    >
                      <div *ngIf="registerIn.apply == true">
                        <button
                          mat-raised-button
                          class="btn btn-sm btn-trash btn-primary"
                          tooltip="Visualizar"
                          (click)="navigateToView(registerIn)"
                        >
                          <i class="fa fa-eye"></i>
                        </button>
                      </div>
                      <div *ngIf="registerIn.apply == false">
                        <button
                          mat-raised-button
                          class="btn btn-sm btn-trash btn-info"
                          tooltip="Editar"
                          (click)="navigateToUpdate(registerIn)"
                        >
                          <i class="fa fa-pencil"></i>
                        </button>
                        &nbsp;
                        <button
                          mat-raised-button
                          class="btn btn-sm btn-trash btn-danger"
                          tooltip="Excluir"
                          (click)="softDelete(registerIn.id)"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </mat-table>
                <div
                  *ngIf="dataSource.data.length == 0"
                  class="table-empty-text"
                >
                  Nenhum registro encontrado!
                </div>
                <mat-divider></mat-divider>
                <mat-paginator
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 20, 50]"
                  showFirstLastButtons
                ></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
