<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Estoque</h4>
        <p class="card-category">Criar item</p>
      </div>
      <div class="card-body">
        <form [formGroup]="createForm">
          <div class="row">
            <div class="col-md-10">
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nome do item"
              />
              <div
                *ngIf="
                  createForm.controls.name.touched &&
                  createForm.controls.name.errors?.required
                "
              >
                Nome é obrigatório.
              </div>
            </div>
            <div class="col-md-2">
              <select
                formControlName="stockTypeId"
                class="form-control"
                id="stockTypeId"
                autocomplete="off"
                (change)="onChangeStockType($event)"
              >
                <option value="" disabled selected>Selecione o tipo</option>
                <option
                  *ngFor="let type of stockTypes"
                  [selected]="type.id == selectedStockTypeId"
                  [value]="type.id"
                >
                  {{ type.id }}
                </option>
              </select>
              <div
                *ngIf="
                  createForm.controls.stockTypeId.touched &&
                  createForm.controls.stockTypeId.errors?.required
                "
              >
                Tipo é obrigatório.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <input
                formControlName="quantity"
                type="number"
                class="form-control"
                id="quantity"
                name="quantity"
                placeholder="Quantidade do item"
              />
              <div
                *ngIf="
                  createForm.controls.quantity.touched &&
                  createForm.controls.quantity.errors?.required
                "
              >
                Quantidade é obrigatória.
              </div>
            </div>
              <div class="col-md-4">
                <input
                  formControlName="quantityLowWarning"
                  type="number"
                  class="form-control"
                  id="quantityLowWarning"
                  name="quantityLowWarning"
                  placeholder="Quantidade mínima do item"
                />
                <div
                  *ngIf="
                    createForm.controls.quantityLowWarning.touched &&
                    createForm.controls.quantityLowWarning.errors?.required
                  "
                >
                  Quantidade mínima é obrigatória.
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <textarea
                    matInput
                    formControlName="description"
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Descrição"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button
            mat-raised-button
            type="button"
            (click)="cancel()"
            class="btn btn-danger pull-right"
          >
            Cancelar
          </button>
          <button
            mat-raised-button
            type="button"
            (click)="create()"
            class="btn btn-success pull-right"
          >
            Salvar
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
