<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Estoque</h4>
        <p class="card-category">Criar item</p>
      </div>
      <div class="card-body">
        <form [formGroup]="createForm">
          <div class="row">
            <div class="col-md-12">
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nome do item"
              />
              <div
                *ngIf="
                  createForm.controls.name.touched &&
                  createForm.controls.name.errors?.required
                "
              >
                Nome é obrigatório.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                formControlName="quantity"
                type="number"
                class="form-control"
                id="quantity"
                name="quantity"
                placeholder="Quantidade do item"
              />
              <div
                *ngIf="
                  createForm.controls.name.touched &&
                  createForm.controls.name.errors?.required
                "
              >
                Quantidade é obrigatória.
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12">
              <label>Descrição</label>
              <mat-form-field class="example-full-width">
                  <textarea matInput formControlName="quantity"  placeholder="Observação sobre a aquisição."></textarea>
                </mat-form-field>
            </div>
          </div> -->
          <button
            mat-raised-button
            type="button"
            (click)="create()"
            class="btn btn-danger pull-right"
          >
            Salvar
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
