/* You can add global styles to this file, and also import other style files */
mat-table {
  table-layout: fixed;
  width: 100%;
  display: table !important;
}

.mat-header-cell {
  font-size: medium;
  color: white;
  padding-top: 1% !important;
  background-color: #ec4b48;
}

.mat-row {
  height: 30px !important;
}

.mat-row:nth-child(odd) {
  background-color: #eeeeee;
}

.mat-cell {
  border: none !important;
}

.input-table-header-cell {
  font-size: small;
  color: white;
  padding-top: 2% !important;
  background-color: #5db461;
}

.update-table-header-cell {
  font-size: small;
  color: white;
  padding-top: 2% !important;
  background-color: #16bbcf;
}

.view-table-header-cell {
  font-size: small;
  color: white;
  padding-top: 2% !important;
  background-color: #9f39b5;
}

.input-table-row {
  height: 15px;
  background-color: #eeeeee;
}

.table-empty-text {
  font-size: medium;
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
}
