<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="card">
          <div class="card-header card-header-color">
            <h4 class="card-title">Usuário</h4>
            <p class="card-category">Acesso</p>
          </div>
          <div class="card-body">
            <form [formGroup]="signInForm">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="email"
                  type="email"
                  id="email"
                  name="email"
                  class="form-control form-control-lg"
                  placeholder="Entre com seu email"
                  required
                />
                <label class="form-label" for="signInForm">Email</label>
              </div>
              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-3">
                <input
                  formControlName="password"
                  type="password"
                  id="password"
                  name="password"
                  class="form-control form-control-lg"
                  placeholder="Entre com sua senha"
                  required
                />
                <label class="form-label" for="signInForm">Senha</label>
              </div>
<!-- 
              <div class="d-flex justify-content-between align-items-center">
                <a href="#!" class="text-body">Esqueceu a senha?</a>
              </div> -->

              <div class="text-center text-lg-start mt-4 pt-2">
                <button
                  type="button"
                  (click)="signIn()"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-primary bg-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem"
                >
                  Entrar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"
  >
    <div class="text-white mb-3 mb-md-4"></div>
  </div>
</section>
