<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">production_quantity_limits</i>
            </div>
            <p class="card-category">Estoque baixo</p>
            <h3 class="card-title">{{ totalStocksQuantityWarning }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats icon-update">
              <i
                class="material-icons"
                (click)="getTotalStocksLowQuantity()"
                >update</i
              >
              Atualizar
            </div>
            <div class="align-items-right justify-content-right">
              <mat-spinner
                *ngIf="totalStocksQuantityWarningLoader"
                color="primary"
                diameter="20"
              ></mat-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">add_shopping_cart</i>
            </div>
            <p class="card-category">Compras Mês</p>
            <h3 class="card-title">{{ actualMonthShopping }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats icon-update">
              <i
                class="material-icons"
                (click)="getActualMonthShopping()"
                >update</i
              >
              Atualizar
            </div>
            <div class="align-items-right justify-content-right">
              <mat-spinner
                *ngIf="actualMonthShoppingLoader"
                color="primary"
                diameter="20"
              ></mat-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">volunteer_activism</i>
            </div>
            <p class="card-category">Doações Mês</p>
            <h3 class="card-title">{{ actualMonthDonations }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats icon-update">
              <i
                class="material-icons"
                (click)="getActualMonthDonation()"
                >update</i
              >
              Atualizar
            </div>
            <div class="align-items-right justify-content-right">
              <mat-spinner
                *ngIf="actualMonthDonationsLoader"
                color="primary"
                diameter="20"
              ></mat-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">remove_shopping_cart</i>
            </div>
            <p class="card-category">Consumo Mês</p>
            <h3 class="card-title">{{ actualMonthConsumptions }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats icon-update">
              <i
                class="material-icons"
                (click)="getActualMonthConsumptions()"
                >update</i
              >
              Atualizar
            </div>
            <div class="align-items-right justify-content-right">
              <mat-spinner
                *ngIf="actualMonthConsumptionsLoader"
                color="primary"
                diameter="20"
              ></mat-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Compras de suprimentos</h4>
            <p class="card-category">Distribuição mensal</p>
          </div>
          <div class="card-footer">
            <div class="stats icon-update">
              <i
                class="material-icons"
                (click)="buildShoppingChart()"
                >update</i
              >
              Atualizar
            </div>
            <div class="align-items-right justify-content-right">
              <mat-spinner
                *ngIf="actualMonthShoppingLoader"
                color="primary"
                diameter="20"
              ></mat-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Doações de suprimentos</h4>
            <p class="card-category">Distribuição mensal</p>
          </div>
          <div class="card-footer">
            <div class="stats icon-update">
              <i
                class="material-icons"
                (click)="buildDonationsChart()"
                >update</i
              >
              Atualizar
            </div>
            <div class="align-items-right justify-content-right">
              <mat-spinner
                *ngIf="actualMonthDonationsLoader"
                color="primary"
                diameter="20"
              ></mat-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Consumo de suprimentos</h4>
            <p class="card-category">Distribuição mensal</p>
          </div>
          <div class="card-footer">
            <div class="stats icon-update">
              <i
                class="material-icons"
                (click)="buildConsumptionsChart()"
                >update</i
              >
              Atualizar
            </div>
            <div class="align-items-right justify-content-right">
              <mat-spinner
                *ngIf="actualMonthConsumptionsLoader"
                color="primary"
                diameter="20"
              ></mat-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Maiores doadores</h4>
            <p class="card-category">{{ topDonors }} maiores doadores do mês</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-primary">
                <th>Número</th>
                <th>Nome</th>
                <th>Quantidade</th>
              </thead>
              <tbody *ngIf="!topDonorsLoader">
                <tr *ngFor="let donor of monthTopDonors; let i = index">
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td>
                    {{ donor.name }}
                  </td>
                  <td>
                    {{ donor.quantity }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex align-items-center justify-content-center">
              <mat-spinner
                *ngIf="topDonorsLoader"
                color="primary"
                diameter="40"
              ></mat-spinner>
            </div>
            <div
              *ngIf="monthTopDonors.length == 0 && !topDonorsLoader"
              class="table-empty-text"
            >
              Nenhum registro encontrado!
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Suprimentos em Baixa</h4>
            <p class="card-category">
              {{ lowerStock }} Suprimentos com estoque mais baixo
            </p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Limite</th>
              </thead>
              <tbody *ngIf="!stockLoader">
                <tr *ngFor="let stock of stocks">
                  <td>
                    {{ stock.name }}
                  </td>
                  <td>
                    {{ stock.quantity }}
                  </td>
                  <td>
                    {{ stock.quantityLowWarning }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex align-items-center justify-content-center">
              <mat-spinner
                *ngIf="stockLoader"
                color="primary"
                diameter="40"
              ></mat-spinner>
            </div>
            <div
              *ngIf="stocks.length == 0 && !stockLoader"
              class="table-empty-text"
            >
              Nenhum registro encontrado!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
