<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Estoque</h4>
        <p class="card-category">Editar item</p>
      </div>
      <div class="card-body">
        <form [formGroup]="updateForm">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="name"
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Nome"
                  maxlength="{{ propertyLenght.FULL_NAME }}"
                />
              </mat-form-field>
              <div
                *ngIf="
                  updateForm.controls.name.touched &&
                  updateForm.controls.name.errors?.required
                "
              >
                Nome é obrigatório.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="quantity"
                  type="number"
                  id="quantity"
                  name="quantity"
                  placeholder="Quantidade"
                  step="0.01"
                  min="0"
                  max="99999999.99"
                />
              </mat-form-field>
              <div
                *ngIf="
                  updateForm.controls.quantity.touched &&
                  updateForm.controls.quantity.errors?.required
                "
              >
                Quantidade é obrigatória.
              </div>
              <div *ngIf="updateForm.controls.quantity.errors?.decimal">
                Quantidade deve estar entre 0 e 99999999.99.
              </div>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="quantityLowWarning"
                  type="number"
                  id="quantityLowWarning"
                  name="quantityLowWarning"
                  placeholder="Quantidade mínima"
                  step="0.01"
                  min="0"
                  max="99999999.99"
                />
              </mat-form-field>
              <div
                *ngIf="
                  updateForm.controls.quantityLowWarning.touched &&
                  updateForm.controls.quantityLowWarning.errors?.required
                "
              >
                Quantidade mínima é obrigatória.
              </div>
              <div
                *ngIf="updateForm.controls.quantityLowWarning.errors?.decimal"
              >
                Quantidade mínima deve estar entre 0 e 99999999.99.
              </div>
            </div>
            <div class="col-md-2">
              <mat-form-field class="example-full-width">
                <mat-select
                  formControlName="stockTypeId"
                  id="stockTypeId"
                  autocomplete="off"
                  (change)="onChangeStockType($event)"
                >
                  <mat-option value="" disabled selected>
                    Selecione o tipo
                  </mat-option>
                  <mat-option
                    *ngFor="let type of stockTypes"
                    [selected]="type.id == selectedStockTypeId"
                    [value]="type.id"
                  >
                    {{ type.id }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div
                *ngIf="
                  updateForm.controls.stockTypeId.touched &&
                  updateForm.controls.stockTypeId.errors?.required
                "
              >
                Tipo é obrigatório.
              </div>
            </div>
            <div class="col-md-1">
              <div>
                <label for="disable" class="col-form-label">
                  Inativo
                  <input
                    formControlName="disable"
                    type="checkbox"
                    class="form-control"
                    id="disable"
                    name="disable"
                  />
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <textarea
                    matInput
                    formControlName="description"
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Descrição"
                    maxlength="{{ propertyLenght.DESCRIPTION }}"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button
            mat-raised-button
            type="button"
            (click)="cancel()"
            class="btn btn-danger pull-right"
          >
            Cancelar
          </button>
          <button
            mat-raised-button
            type="button"
            (click)="update()"
            class="btn btn-success pull-right"
          >
            Salvar
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
